<div class="content">
  <%= link_to "", post_path(post.id), class: "detail" %>
  <div class="content__right">
    <div class="content__right__top">
    <% if user_signed_in? %>
      <%= link_to post.title, post_path(post.id), class: "content__right__top--title" %>
      <%= link_to post.image, post_path(post.id), class: "content__right__top--title" %>
      Page
      <%= link_to post.page, post_path(post.id), class: "content__right__top--page" %>
      　Line
      <%= link_to post.line, post_path(post.id), class: "content__right__top--line" %>
      　　いいね <%= post.liked_users.count %>
    <% else %>
      <%= link_to post.title, new_user_session_path, class: "content__right__top--title" %>
      <%= link_to post.image, new_user_session_path, class: "content__right__top--title" %>
      Page
      <%= link_to post.page, new_user_session_path, class: "content__right__top--page" %>
      　Line
      <%= link_to post.line, new_user_session_path, class: "content__right__top--line" %>
      　　いいね <%= post.liked_users.count %>
    <% end %>
    </div>
    <div class="content__right__bottom">
      <%= link_to post.user.nickname, "/users/#{post.user_id}", class: "content__right__bottom--userName" %>
      <div class="content__right__bottom--date">
        <%= post.created_at.strftime("%Y年%m月%d日 %H時%M分") %>
      </div>
    </div>
  </div>
</div>