<%= render partial: "head" %>
<div class="contents">
  <div class="new-post">
    <% if user_signed_in? %>
      <%= link_to new_post_path, class: "new-post__btn" do%>
        <i class="fas fa-edit"></i>
      <%end%>
    <% else %>
      <%= link_to new_user_session_path, class: "new-post__btn" do%>
        <i class="fas fa-edit"></i>
      <%end%>
    <% end %>
  </div>
<div class="content__title">
  投稿の編集
</div>
  <%= form_with model: @post, class: :form, local: true do |form| %>
    <%= form.text_field :title, placeholder: :タイトル, class: :form__title %>
    <%= form.text_field :image, placeholder: :著者名, class: :form__author %>
    <%= form.text_field :page, placeholder: :何ページ目？（半角数字）, class: :form__page %>
    <%= form.text_field :line, placeholder: :何行目？（半角数字）, class: :form__line %>
    <%= form.text_area :content, placeholder: :コアメッセージ、学んだこと、面白かったことなどを記述しよう！, class: :form__text %>
    <%= form.submit '投稿する', class: :form__btn %>
  <% end %>
</div>