<header class="header">
  <div class="header__title">
    <%= link_to "StudyPost", root_path, class: "header__title--text" %>
  </div>
  <div class="header__search">
    <%= form_with(url: search_posts_path, local: true, method: :get, class: "search-form") do |form| %>
      <%= form.text_field :keyword, placeholder: "投稿を検索する", class: "search-input" %>
      <%= form.submit "検索", class: "search-btn" %>
    <% end %>
  </div>
  <div class="header__right">
    <% if user_signed_in? %>
        <%= link_to current_user.nickname, user_path(current_user), class: "header__right--btn" %>
        <%= link_to "新規投稿", new_post_path, class: "header__right--btn" %>
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "header__right--btn" %>
    <% else %>
      <%= link_to "ログイン", new_user_session_path, class: "header__right--btn" %>
      <%= link_to "新規登録", new_user_registration_path, class: "header__right--btn" %>
    <% end %>
  </div>
</header>
<div class="contents">
  <div class="postTitle">
    <%= @post.title %>
  </div>
  <div class="Author">
    <%= @post.author %>
  </div>
  <div class="postTitle-sub">
    <div class="postPage">
      P
      <%= @post.page %>
    </div>
    <div class="postLine">
      L
      <%= @post.line %>
    </div>
  </div>
  <div class="postDate">
    <%= @post.created_at %>
  </div>
  <div class="postAuthor">
  </div>
  <% if user_signed_in? && current_user.id == @post.user_id %>
    <div class="postManage">
      <%= link_to "編集", edit_post_path(@post.id), class: "postManage__edit" %>
      <%= link_to "削除", post_path(@post.id), method: :delete, class: "postManage__delete" %>
    </div>
  <% end %>
  <div class="postText">
    <%= simple_format @post.content %>
  </div>
  <% if current_user.already_liked?(@post) %>
    <div class="liked">
      <%= button_to 'いいね済', post_like_path(@post), method: :delete, class: "like-btn-on" %>
      <h1><%= @post.likes.count %></h1>
    </div>
  <% else %>
    <div class="like">
      <%= button_to 'いいね！', post_likes_path(@post), class: "like-btn" %>
      <h1><%= @post.likes.count %></h1>
    </div>
  <% end %>

  <div class="container">
    <% if current_user %>
      <%= form_with(model: [@post, @comment], local: true, id: "new_comment") do |form| %> 
        <%= form.text_area :text, placeholder: "コメントする" , rows: "2", class: "textbox" %>
        <%= form.submit "SEND", class: "form__submit" %>
      <% end %>
    <% else %>
      <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>
    <% end %>
  </div>
  <div class="comments">
    <h4>　　　　＜コメント一覧＞</h4>
    <% if @comments %>
      <% @comments.each do |comment| %>
        <p>
          <strong><%= link_to comment.user.nickname, "/users/#{comment.user_id}" %>：</strong>
          <%= comment.text %>
        </p>
      <% end %>
    <% end %>
  </div>
</div>