<%= render partial: "head" %>
<div class="contents">
  <div class="postTitle">
    <%= @post.title %>
  </div>
  <div class="Author">
    <%= @post.image %>
  </div>
  <div class="postTitle-sub">
    <div class="postPage">
      P
      <%= @post.page %>
    </div>
    <div class="postLine">
      L
      <%= @post.line %>
    </div>
    <div class="postDate">
      <%= @post.created_at.strftime("%Y年%m月%d日 %H時%M分") %>
    </div>
  </div>
  <div class="postAuthor">
  </div>
  <% if user_signed_in? && current_user.id == @post.user_id %>
    <div class="postManage">
      <%= link_to "編集", edit_post_path(@post.id), class: "postManage__edit" %>
      <%= link_to "削除", post_path(@post.id), method: :delete, class: "postManage__delete" %>
    </div>
  <% end %>
  <div class="postText">
    <%= simple_format @post.content %>
  </div>
  <% if current_user.already_liked?(@post) %>
    <div class="liked">
      <label>
        <%= button_to '', post_like_path(@post), method: :delete, class: "like-btn-on" %>
        <i class="fas fa-heart unlike-btn"></i>
      </label>
      <h1><%= @post.likes.count %></h1>
    </div>
  <% else %>
    <div class="like">
      <label>
        <%= button_to '', post_likes_path(@post), class: "like-btn" %>
        <i class="far fa-heart like-btn" ></i>
      </label>
      <h1><%= @post.likes.count %></h1>
    </div>
  <% end %>

  <div class="container">
    <% if current_user %>
      <%= form_with(model: [@post, @comment], local: true, id: "new_comment") do |form| %> 
        <%= form.text_area :text, placeholder: "コメントする" , rows: "2", class: "textbox" %>
        <%= form.submit "送信", class: "form__submit" %>
      <% end %>
    <% else %>
      <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>
    <% end %>
  </div>
  <div class="comments">
    <h4>　　　　　＜コメント一覧＞</h4>
    <% if @comments %>
      <% @comments.each do |comment| %>
        <div class="comments__user">
          <strong><%= link_to comment.user.nickname, "/users/#{comment.user_id}" %></strong>
          <div class="comments__user--date">
            <%= comment.created_at.strftime("%Y年%m月%d日 %H時%M分") %>
          </div>
        </div>
        <div class="comments__text">
          <%= comment.text %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="new-post">
    <% if user_signed_in? %>
      <%= link_to new_post_path, class: "new-post__btn" do%>
        <i class="fas fa-edit"></i>
      <%end%>
    <% else %>
      <%= link_to new_user_session_path, class: "new-post__btn" do%>
        <i class="fas fa-edit"></i>
      <%end%>
    <% end %>
  </div>
</div>